<div class="text-center">
  <h2><img style="height: 5vh" src="https://i.etsystatic.com/15835007/r/il/21c99b/3597237069/il_1140xN.3597237069_ky89.jpg"> Welcome to {{farm_name}}</h2>
  
  <p>{{description}}</p>

  <p>
    We carry {{product.product_name}}
  </p>
  <p>Currently priced at {{product.price}}</p>

  <p>We have {{product.stock}} in stock</p>

  <p>
    <button id="checkoutButton">Buy Now!</button>
  </p>
  <script src="/js/checkout.js"></script>
</div>