<div class="text-center">
  <h2>Welcome to {{farm_name}}</h2>
  
  <p>{{description}}</p>

  <p>
    We carry {{product.product_name}}
  </p>
  <p>Currently priced at {{product.price}}</p>

  <p>We have {{product.stock}} in stock</p>

  <p>
    <button class="btn"> Buy Now! </button>
  </p>
</div>